My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3b0cf2a6-12a1-4db3-924b-295531a99097",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "L8SMbPSOoeXxURaN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "994bfc75-9afc-4b41-a83a-6be30376dfbb",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4db8a4eb-69df-4450-871c-d7d455e52e40",
              "name": "EmailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "e7d524d7-5200-4db9-b388-f6471eb49992",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "3492097e-430e-495e-b582-e3b629fd7315",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "7dc884b7-7863-420a-aaa6-5774140454e1",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "6f0c6f6c-52a2-4626-bc93-68ed1ce9d350",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "53af21eb-ad84-4823-8cc9-4a7b219ca2ee",
      "name": "Wait",
      "webhookId": "aeee3875-3b6c-478d-94ed-e7ebeec9861e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the email {{ $json.EmailBody }} go through the google sheet and find the relevant answer for the question asked in email  and reply with it to the sender. If there is no relevant answer then reply with \"Our team will get back to you\" ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "6cc44ff1-4386-4089-a36c-c49c7762db8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/learnlm-2.0-flash-experimental",
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        200
      ],
      "id": "92013339-430a-438a-9c3b-a0e2beea197b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UzQzENAY4R0i49hX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Wait').item.json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        860,
        200
      ],
      "id": "74f9c81b-643a-439a-92ee-b776502f8211",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Wait').item.json.From }}",
        "subject": "={{ $('Wait').item.json.Subject }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1160,
        200
      ],
      "id": "8282eeab-9760-4255-b6c7-3ce871e64acd",
      "name": "Send a message in Gmail",
      "webhookId": "5b56df9c-a7b6-424a-ba3d-52fec09c4023",
      "credentials": {
        "gmailOAuth2": {
          "id": "7p9rocMdV3NiMi3b",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15s1MalRajhz0V6cWG6ADTiFHRa9AKa351v_BrhxvBgs",
          "mode": "list",
          "cachedResultName": "Ticket Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15s1MalRajhz0V6cWG6ADTiFHRa9AKa351v_BrhxvBgs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15s1MalRajhz0V6cWG6ADTiFHRa9AKa351v_BrhxvBgs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1000,
        200
      ],
      "id": "4a4d2b43-536d-456e-acd2-e87f97917e28",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ToRiiRTHiuRlyI5m",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ebe12fd7-5adc-4b45-b14f-01ba56011690",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a505085478f97d1b0989fc79353bf8d11b0d7cbf61b41aeafd8288c97ef859a"
  },
  "id": "84mLAPrz0Y41wJun",
  "tags": []
}